[submodule "pagamentos-ms"]
	path = pagamentos-ms
	url = git@github.com:Jefferson-Silva-Geronimo/SistemaDePagamentosMS-pagamentos-ms.git
[submodule "pedidos-ms"]
	path = pedidos-ms
	url = git@github.com:Jefferson-Silva-Geronimo/SistemaDePagamentosMS-pedidos-ms.git
[submodule "gateway-ms"]
	path = gateway-ms
	url = git@github.com:Jefferson-Silva-Geronimo/SistemaDePagamentosMS-Gateway.git
[submodule "server-ms"]
	path = server-ms
	url = git@github.com:Jefferson-Silva-Geronimo/SistemaDePagamentosMS-Server.git
